In [21]:
#import dependencies
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine

In [22]:
#load in file
file_path = r"C:\Users\Laurent\git\Project-2---ETL\Resources\listings2019_2021.csv"

Reading the file from csv

In [23]:
summary_df = pd.read_csv(file_path)
summary_df.head()

,jobId,jobTitle,jobClassification,jobSubClassification,advertiserName,advertiserId,companyId,companyName,companyRating,listingDate,...,Haskell,Lisp,Golang,Spark,Javascript,F#,Fortran,first_seen,last_seen,recruiter
0,38098375,Senior Method Development Immunoassay Scientis...,Science & Technology,Biological & Biomedical Sciences,Hobson Prior Australia,30969882,NaN,NaN,NaN,2019-01-16 12:17:41,...,0,0,0,0,0,0,0,2019-03-06,2019-03-11,1
1,38259053,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,NaN,NaN,NaN,2019-02-04 13:02:22,...,0,0,0,0,0,0,0,2019-03-06,2019-03-06,1
2,38267899,Insights Analyst – Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,NaN,NaN,NaN,2019-02-05 11:33:08,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,1
3,38267995,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,NaN,NaN,NaN,2019-02-05 11:39:26,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,1
4,38269206,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,NaN,NaN,NaN,2019-02-05 12:54:11,...,0,0,0,0,0,0,0,2019-03-06,2019-03-07,0

Creating a table for States

In [24]:
#creating a required table
state_df = summary_df[["jobId","state"]]
state_df

         jobId                         state
0     38098375               New South Wales
1     38259053  Australian Capital Territory
2     38267899               New South Wales
3     38267995               New South Wales
4     38269206               New South Wales
...        ...                           ...
2852  52903494               New South Wales
2853  52903504                      Victoria
2854  52904581               New South Wales
2855  52904582               New South Wales
2856  52905493               New South Wales

[2857 rows x 2 columns]

Creating a table for work type by using appropriate columns

In [25]:
work_type = summary_df[["jobId","jobClassification","jobSubClassification","workType"]]
work_type

,jobId,jobClassification,jobSubClassification,workType
0,38098375,Science & Technology,Biological & Biomedical Sciences,Full Time
1,38259053,Information & Communication Technology,Other,Full Time
2,38267899,Information & Communication Technology,Database Development & Administration,Full Time
3,38267995,Banking & Financial Services,Compliance & Risk,Full Time
4,38269206,Information & Communication Technology,Database Development & Administration,Contract/Temp
...,...,...,...,...
2852,52903494,Information & Communication Technology,Database Development & Administration,Contract/Temp
2853,52903504,Information & Communication Technology,Database Development & Administration,Contract/Temp
2854,52904581,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
2855,52904582,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
2856,52905493,Information & Communication Technology,Database Development & Administration,Full Time

Renaming the columns

In [26]:
work_type = work_type.rename(columns={"jobClassification": "Industry", "jobSubClassification": "Departments"})
work_type

,jobId,Industry,Departments,workType
0,38098375,Science & Technology,Biological & Biomedical Sciences,Full Time
1,38259053,Information & Communication Technology,Other,Full Time
2,38267899,Information & Communication Technology,Database Development & Administration,Full Time
3,38267995,Banking & Financial Services,Compliance & Risk,Full Time
4,38269206,Information & Communication Technology,Database Development & Administration,Contract/Temp
...,...,...,...,...
2852,52903494,Information & Communication Technology,Database Development & Administration,Contract/Temp
2853,52903504,Information & Communication Technology,Database Development & Administration,Contract/Temp
2854,52904581,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
2855,52904582,Science & Technology,"Mathematics, Statistics & Information Sciences",Full Time
2856,52905493,Information & Communication Technology,Database Development & Administration,Full Time

# Loading dataframe into Postgres database

In [29]:
#Creating connection to existing database


engine = create_engine('postgresql://postgres:postgres@localhost:5432/job_market_2019-2021')

# Deleting previous data and replacing with new data

engine.execute("delete from state") 
  
# Loading dataframe into existing database in Postgres

state_df.to_sql("state", engine, if_exists="append", index=False)

In [28]:
# Loading second table inside the database

engine = create_engine('postgresql://postgres:postgres@localhost:5432/job_market_2019-2021')

# Deleting previous data and replacing with new data

engine.execute("delete from work_type") 
  
# Loading dataframe into existing database in Postgres

work_type.to_sql("work_type", engine, if_exists="append", index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Departments" of relation "work_type" does not exist
LINE 1: INSERT INTO work_type ("jobId", "Industry", "Departments", "...
                                                    ^

[SQL: INSERT INTO work_type ("jobId", "Industry", "Departments", "workType") VALUES (%(jobId)s, %(Industry)s, %(Departments)s, %(workType)s)]
[parameters: ({'jobId': 38098375, 'Industry': 'Science & Technology', 'Departments': 'Biological & Biomedical Sciences', 'workType': 'Full Time'}, {'jobId': 38259053, 'Industry': 'Information & Communication Technology', 'Departments': 'Other', 'workType': 'Full Time'}, {'jobId': 38267899, 'Industry': 'Information & Communication Technology', 'Departments': 'Database Development & Administration', 'workType': 'Full Time'}, {'jobId': 38267995, 'Industry': 'Banking & Financial Services', 'Departments': 'Compliance & Risk', 'workType': 'Full Time'}, {'jobId': 38269206, 'Industry': 'Information & Communication Technology', 'Departments': 'Database Development & Administration', 'workType': 'Contract/Temp'}, {'jobId': 38269216, 'Industry': 'Information & Communication Technology', 'Departments': 'Database Development & Administration', 'workType': 'Contract/Temp'}, {'jobId': 38270740, 'Industry': 'Banking & Financial Services', 'Departments': 'Analysis & Reporting', 'workType': 'Full Time'}, {'jobId': 38272439, 'Industry': 'Banking & Financial Services', 'Departments': 'Analysis & Reporting', 'workType': 'Full Time'}  ... displaying 10 of 2857 total bound parameter sets ...  {'jobId': 52904582, 'Industry': 'Science & Technology', 'Departments': 'Mathematics, Statistics & Information Sciences', 'workType': 'Full Time'}, {'jobId': 52905493, 'Industry': 'Information & Communication Technology', 'Departments': 'Database Development & Administration', 'workType': 'Full Time'})]
(Background on this error at: https://sqlalche.me/e/14/f405)